@use "pages";
@use "components";

@use "tailwindcss";
@plugin "tailwindcss-primeui";


@import "primeicons/primeicons.css";


*, ::before, ::after {
  box-sizing: border-box;
}

*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

* {
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background: #F0F1F5;
}
