.n-table {
  width: 100%;
  border-collapse: collapse;
  //border-spacing: 5px;

  th {
    border-bottom: 1px solid #e2e8f0;
    align-items: center;
    flex-shrink: 0;
    padding: 9px 12px;
    text-align: start;

    //border-radius: 8px;
    //background: #DEE1EB;
    //
    color: #334155;
    /* Web/Body 1 */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: -0.32px;
  }

  td {
    padding: 10px;
    border-bottom: 1px solid #e2e8f0;
    text-align: start;

    border-radius: 8px;
    color: rgb(51, 65, 85);
    //border: 1px solid #DEE1EB;
    //background: #FFF;
  }

}


.table-page {
  width: 100%;

  h1 {
    margin-bottom: 20px;
  }

  .table-actions {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
  }

  .t-table {
    background: white;
    border: 1px solid #e2e8f0;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
}
